.note-content .formula {
  font-size: unset !important;
  line-height: unset !important;
}

.note-content .katex-display {
  display: inline-block;
  margin: 0;
}

.note-content .formula * {
}

.note-content img {
  max-width: 100%;
}

.note-content a {
  color: steelblue;
}

.note-content a:hover {
  text-decoration: underline;
}
