.editor {
  display: flex-column;
}

.editor.input-mode {
  cursor: text;
}

.editor .content {
  background: #fefefe;
  font-family: Consolas;
  font-size: .9em;
  line-height: 1.5;
  border: 1px solid #ddd;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .5em;
  height: 70vh;
}

.editor .content .preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.editor .content .preview .img {
  max-width: 95vw;
  max-height: 95vh;
  box-shadow: 0 0 20px #999;
}

.editor .content .preview .formula {
  padding: 1.5em 2em;
  box-shadow: 0 0 5px #999;
  background: #fff;
}

.editor .content .preview .formula .katex {
  font-size: 3em;
}

.editor.focused .content {
  outline: 1px solid -webkit-focus-ring-color;
}

.editor .content * {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}

.editor .command {
  display: none;
}

.editor .command.visible {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,.9);
  padding: 3px 0 0 2px;
  border-top: 1px solid #eee;
}

.editor .caret {
  display: none;
  position: absolute;
}

.editor .caret.visible {
  display: inline-block;
}

.editor .caret.line {
  width: 1px;
  height: 1.2em;
  background: black;
}

.editor .caret.block {
  background: steelblue;
  margin-top: -3px;
  opacity: .5;
}

.editor .caret.blink {
  animation: 1s blink step-end infinite;
}

.editor span.line {
  white-space: pre-wrap;  /* to enable leading and trailing spaces */
}

.editor .input {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  z-index: -999;
}

.editor .dummy {
  white-space: pre-wrap;
}

.editor .highlight {
  background: #FF9632;
}

@keyframes "blink" {
  from, to {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}
