:root {
  --bg-color: aliceblue;
  --fg-color: #333333;
  --text-color: #333333;
  --font-famliy: 'Arial';
}

html {
  overflow-y: auto;
}

.reverse-color {
  background: var(--fg-color);
  color: var(--bg-color);
}

.reverse-color a {
  text-decoration: none;
  color: var(--bg-color);
}

html,body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  height: 100%;
}

main {
  flex: 1;
  width: 100%;
}

pre, code {
  font-family: Consolas;
}

.horizontal {
  display: flex;
  justify-content: space-between;
}

.right {
  order: 999;
}

.clickable {
  cursor: pointer;
}

.center-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input[type=text], input[type=password] {
  border: none;
  min-width: 14rem;
  height: 32px;
  box-shadow: inset 0 0 2px #aaa;
  padding: 0 .2rem;
}

header, footer {
  box-shadow: 0 0 5px var(--fg-color);
}

.search-prompt {
  margin-bottom: -2rem;
}

.reader {
  max-width: 35%;
  min-width: 35em;
  margin: 0 auto;
  padding: 0 4em;
  line-height: 2;
  letter-spacing: .1em;
  font-weight: 100;
}

#console-input {
  height: 1.6rem;
  font: .8rem 'Consolas', 'Courier New', monospace;
  width: 8rem;
  padding: 0 .6rem;
  padding-left: 1.5rem;
  background: #444;
  border: none;
  outline: none;
  box-shadow: none;
  color: #eee;
  transition: 0.1s;
}

#console-input:focus {
  width: 20rem;
  transition: 0.3s;
  background: steelblue;
}

#console svg {
  position: relative;
  left: 1.2rem;
}

.single-blog-view, .edit-blog {
  min-width: 45%;
  max-width: 50rem;
  margin: 2rem auto;
}

input.visitor-name {
  margin-right: 1rem;
}

.comments-content > *{
  width: 100%;
  margin: 0 auto;
}

.narrow {
  max-width: 40%;
}

.center {
  margin: 2rem auto;
}

.wide {
  width: 60%;
}

.blog {
  background: #fefefe;
  padding: 2rem 3rem;
  box-shadow: 0 0 5px #ddd;
  margin: 1rem auto;
}

.panel {
  position: fixed;
  right: 5%;
  bottom: 10%;
}

.file-explorer {
  width: 50%;
  height: 30rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-family: 'Consolas';
  font-size: .9rem;
  line-height: 1.5;
  box-shadow: inset 0 0 5px #aaa;
  overflow-y: scroll;
  background: white;
}

.about .hr {
  width: 30%;
}

.blog blockquote {
  padding-left: 2rem;
  margin: 1rem 2rem;
}

/* ------------------------------------------ blogs */

.blog {
  font-size: .9em;
  line-height: 2;
}

.blog pre {
  padding: 1em 0;
}

.blog code {
  font-size: 0.95em;
  line-height: 1;
  font-family: "Consolas", "Courier New", "monospace";
  overflow-x: auto;
}

.blog-content img {
  margin: 1rem 0;
  max-width: 100%;
}

.blog-content a {
  border-bottom: 1px dashed var(--fg-color);
  word-wrap: break-word;
}

.blog .footer .info-row {
  display: flex;
  align-items: baseline;
}

.blog .footer .info-row * {
  display: inline;
}

.blog .footer .info-row .column.left > * {
  margin-right: 1em;
}

.blog .footer .right {
  margin-left: auto;
}

.blog .footer {
  margin-top: 1rem;
}

.blog .footer {
  font-size: .8rem;
}

.blog blockquote {
  border-left: 5px solid #ddd;
  margin: 0;
  padding-left: 1rem;
}

.blog p {
  margin: 0;
  margin-bottom: 1em;
}

.blog br {
  margin: 0;
}

.blog-content a {
  color: steelblue;
  border: none;
}

.blog-content a:hover {
  text-decoration: underline;
}

.blog .video embed {
  padding: 1rem;
  box-shadow: 0 0 10px #aaa;
  margin: 0 auto;
}

.info .filter, .info.filter {
  filter: opacity(.3);
}

.blog .tag {
  margin: 0 .4rem;
}

.blog .tag::before {
  content: '# ';
}

.comments-content {
  margin-top: .8rem;
}

.comment-edit {
  display: block;
  width: 100%;
  height: auto;
  min-height: 6rem;
  max-height: 20rem;
  box-sizing: border-box;
  padding: none;
  margin: none;
}

.comment {
  padding: .8rem 1.2rem;
  padding-bottom: 0;
  background: white;
  box-shadow: 0 0 1px #999;
  margin-bottom: .8rem;
  box-sizing: border-box;
}

.comment-header {
  margin-bottom: .4rem;
}

.comment-content > p {
  display: block !important;
  line-height: 1.8;
}

.datetime {
  text-align: right;
}

.panel {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hover-action svg:hover {
  color: black;
  transform: scale(1.2);
  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.content a[!icon] {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 2px;
}

.content a:hover {
  color: var(--text-color);
}

img.large.avatar {
  box-shadow: 0 0 10px #aaa;
}

.about hr {
  margin: 2rem 0;
}

.about {
  width: 100%;
  text-align: center;
  margin-top: 7vh;
}

.about .age {
  display: table;
  margin: 0 auto;
}

.about .age p {
  display: table-row;
}

.about .age span {
  display: table-cell;
  height: 1.4rem;
}

.about .age p {
  margin: .3rem 0;
}

.about .age span.unit {
  font-size: 0.6rem;
  filter: opacity(50%);
}

.about .num {
  display: inline-block;
  min-width: 2rem;
}

.about .links {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.about .links > *:first-child {
  margin-right: 1rem;
}

.about .links > * {
  line-height: 20px;
}

.about img {
  max-width: 200px;
}

.about .hr {
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin: 1rem auto 2rem auto;
}

.sticky {
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.sticky > * {
  filter: opacity(20%);
}

.sticky > *:hover {
  filter: opacity(100%);
}

.tooltip-container {
  position: relative;
  display: flex;
  align-items: flex-center;
}

.tooltip-container .tooltip {
  position: absolute;
  visibility: hidden;
  min-width: 8rem;
  text-align: center;
  right: 30px;
  order: -1;
  opacity: 0;
  border-radius: 2px;
}

/* arrow */
.tooltip-container .tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--fg-color);
  z-order: 1
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s;
}

/* ------------------------------------------ gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.gallery.item-view {
  margin: .5rem 0;
}

.gallery .img {
  margin: 1rem;
}

.gallery img {
  width: auto;
  height: auto;
  box-shadow: 0px 0px 10px #aaa;
  transition: 1s;
}

.gallery.item-view img {
  margin: .5rem;
}

.gallery.item-view {
  cursor: pointer;
}

.gallery img:hover {
  box-shadow: 0px 0px 30px #aaa;
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.8s;
}

.gallery.item-view img:hover {
  transform: none;
  box-shadow: 0px 0px 10px #aaa;
}

/* ------------------------------------------ files */

#files-page {
  margin-top: 1rem;
}

.file-list li * {
}

.file-list {
  list-style: none;
  padding: 0;
}

.file-list li {
  padding: .2rem 1rem;
}

.file-list li:hover {
  cursor: pointer;
  box-shadow: 0 0 1px #aaa;
}

.file-list li.dir * {
  font-weight: bold;
}

#pagination {
  text-align: center;
  margin: 2rem 0;
}

#pagination > * {
  display: inline-block;
  font-size: .8rem;
  vertical-align: middle;
}

#pagination #current-page {
  width: 2rem;
  min-width: 2rem;
  height: 1.5rem;
  text-align: center;
}

.profile h1 {
  margin-bottom: 0;
}

.profile .avatar img {
}

.profile .avatar img:hover {
  box-shadow: none;
  cursor: pointer;
}

.video {
  max-width: 100%;
}

.edit-blog-link svg {
  position: relative;
  left: 1rem;
  top: -0.11rem;
  filter: opacity(.7);
}

input::placeholder {
  filter: opacity(.6);
}

.edit-blog .content-edit {
  margin-bottom: 0;
}

.single-blog-view {
  margin-top: 2rem;
}

.toggle.toggled {
  filter: opacity(1.0);
}

.read-search-result:hover {
  cursor: pointer;
}

textarea {
  font-family: var(--font-family);
}

@font-face {
  font-family: matrix;
  src: url('../font/matrix.ttf');
}
