.eno-button {
  font-size: .85em;
  display: inline-block;
  text-align: center;
  min-width: 120px;
  height: 32px;
  line-height: 32px;
  background: white;
  color: #333;
  border: none;
  box-shadow: 0 0 3px #aaa;
}

.eno-button.primary {
  background: #4d98d6;
  color: white;
  box-shadow: 0 0 5px #aaa;
}

.eno-button.secondary {
  background: var(--bg-color);
  border: 1px solid #ddd;
  box-shadow: none;
}

.eno-button.warnning {
  background: coral;
  color: white;
}

.eno-button.dangerous {
  background: crimson;
  color: white;
}

.eno-button:hover {
  cursor: pointer;
}
